*{
    margin: 0;
    padding: 0;
}
.album-modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-container{
    width: 1200px;
    min-height: 600px;
    position: relative;
    overflow: hidden;
    /* animation: modalFadeIn ease .5s; */
}
.modal-container .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
}
.modal-container .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal-container .slider .item .content{
    position: absolute;
    top: 72%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #FA92AC;
    text-shadow: 5px 15px 10px #0004;
}
.modal-container .slider .item .title{
    font-size: 50px;
    font-weight: bold;
    line-height: 1.3em;
}
.modal-container .slider .item .button{
    display: grid;
    grid-template-columns: repeat(1, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
    text-decoration: none ;
}
.modal-container .content button{
    letter-spacing: 2px;
    font-size: 18px;
    font-family: Poppins;
    background: #FA92AC;
    color: #fff;
    border: 2px solid #000;
    font-weight: bold;
    border-radius: 60px;
    transition: .4s;
}
.modal-container .content button:hover{
    background: transparent;
    border: 2px solid #FA92AC;
    color: #000;
    cursor: pointer;
}
/* thumbnail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 60%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 100px;
    height: 140px;
    flex-shrink: 0;
    position: relative;
    inset: 0 0 0 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item img:hover{
    width: 95%;
    height: 95%;
    border: 4px solid #FA92AC;
    cursor: pointer;
}
.thumbnail .item img:focus{
    width: 95%;
    height: 95%;
    border: 4px solid #FA92AC;
    cursor: pointer;
}




/* animation text in item */

.modal-container .slider .item .content .title,
.modal-container .slider .item .content .year,
.modal-container .slider .item .content .button
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.modal-container .slider .item .content .title{
    animation-delay: 1.2s!important;
}
.modal-container .slider .item .content .year{
    animation-delay: 1.4s!important;
}
.modal-container .slider .item .content .button{
    animation-delay: 1.8s!important;
}
/* create animation when click on thumbnail item */
.modal-container .slider .item img{
    width: 100px;
    height: 140px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}






